/*===== BASE =====*/
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: $header-height 0 0 0;
  font-family: $body-font;
  font-weight: 600;
  background-color: #fcfcfc;
  max-width: 1440px;
  min-width: 300px;
  margin: 0 auto;
  //   height: 100vh;
}
.title-don-principal {
  padding: 0rem;
  margin: 0rem;
  font-size: 35px;
  text-transform: uppercase;
}

// *************Main******************//
.container-don {
  margin-top: 150px;
}
.title-don-slogan {
  text-align: center;
  font-family: $titles-font;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: -20px;
}
.title-don-slogan span::after {
  content: "";
  display: block;
  width: 0px;
  margin: 5px auto 0 auto;
  height: 2px;
  border-radius: 2px;
  background: $first-color;
  transition: all 0.6s ease-in-out;
}
.title-don-slogan span:hover::after {
  width: 45%;
  max-width: 1300px;
}
.title-don {
  background: #f1f1f1;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 15px 25px;
  font-family: $titles-font;
  line-height: 1.5;
  font-weight: 400;
  width: 70%;
  margin: 80px auto 100px;
}
.title-don::first-letter {
  color: $first-color;
}
.grille-portfolio {
  width: 90%;
  max-width: 1100px;
  min-width: 300px;
  height: auto;
  margin: 30px auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  justify-content: center;
}
.grid-item {
  height: 250px;
  cursor: pointer;
  position: relative;
  margin: 30px 15px;
}
.grid-item img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  box-shadow: 3px 5px 14px -1px rgba(94, 94, 94, 0.75);
  transition: all 0.3s ease-in-out;
}

// overlay
.container-portfolio {
  position: relative;
}
img {
  width: 100%;
  height: auto;
}
.overlay {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 0%;
  background: rgba(203, 27, 36, 0.767);
  overflow: hidden;
  transition: 0.8s;
}
.text {
  color: white;
  font-size: 20px;
  font-weight: bolder;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.container-portfolio:hover .overlay {
  height: 25%;
}

/* Slider */

.slider-portfolio {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(45deg, #333, #000);
  display: none;
}
.btn-fermer-slider {
  position: absolute;
  top: 3%;
  right: 2%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 30px;
  outline: none;
  border: none;
  background: $first-color;
  color: #fff;
  border: 1px solid #fff;
}
.btn-left,
.btn-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 25px;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $first-color;
}
.btn-left {
  left: 2%;
}
.btn-right {
  right: 2%;
}
.btn-left img,
.btn-right img {
  width: 25px;
  height: 25px;
}
.img-visible-slider {
  width: 60%;
  height: 700px;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*===============explications contribution ===============*/
.questions {
  background: $white-color;
}

.questions__container {
  gap: 1.5rem;
  padding: 1.5rem 0;
}

.questions__group {
  display: grid;
  row-gap: 1.5rem;
  width: 60%;
  margin: 0 auto;
}
.questions__title {
  padding: 1rem 0 0 3rem;
  font-size: 25px;
  color: $first-color;
}

.questions__item {
  background-color: $first-color;
  border-radius: 0.25rem;
}

.questions__item-title {
  font-size: 18px;
  font-weight: 600;
}

.questions__icon {
  font-size: 1.25rem;
  color: black;
}

.questions__description {
  font-size: 16px;
  padding: 1.5rem 1.25rem 1.25rem 2.5rem;
}

.questions__header {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  padding: 1.75rem 0.5rem;
  cursor: pointer;
}

.questions__content {
  overflow: hidden;
  height: 0;
}

.questions__item,
.questions__header,
.questions__item-title,
.questions__icon,
.questions__description,
.questions__content {
  transition: 0.3s;
}

.questions__item:hover {
  box-shadow: 0 2px 8px (black, 4%, 15%, 0.15);
}

Rotate icon,
change color of titles and background .accordion-open .questions__header,
.accordion-open .questions__content {
  background-color: #333;
}

.accordion-open .questions__item-title,
.accordion-open .questions__description,
.accordion-open .questions__icon {
  color: #fff;
}

.accordion-open .questions__icon {
  transform: rotate(45deg);
}
// dons seconde partie
.items-don {
  @include actions-backgrounds;
}
.txt-don {
  width: 80%;
  margin: 0 auto;
  line-height: 1.6;
}
.txt-don a {
  color: $first-color;
  transition: all 0.2s ease-in-out;
}
.txt-don a:hover {
  transform: scale(1.2);
}
// modale dons
.container-dons {
  margin: 70px auto;
  width: 95%;
  height: 850px;
  background: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.51);
  border-radius: 4px;
}
.container-onglets {
  background: #f1f1f1;
  width: 100%;
  height: 10%;
  display: flex;
  border-bottom: 1px solid #333;
  border-radius: 4px;
}
.onglets {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 21px;
  font-weight: 700;
  cursor: pointer;
}
.items-onglets {
  padding: 15px;
}
.contenus {
  height: 70%;
  width: 95%;
  position: absolute;
  opacity: 0;
}

.contenu-1,
.contenu-2,
.contenu-3,
.contenu-4,
.contenu-5,
.contenu-6 {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 2px 0px 0px 6px;
}

.contenu-onetime {
  transition: all 0.3s ease-in-out;
}
.contenu-onetime:hover {
  background: #e0e0e0f5;
}

.contenu-6 label {
  font-size: 20px;
}

.contenu-6 input {
  border-color: #333;
  border: solid 1px;
  padding: 10px 1px;
  margin-left: 5px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 4px;
  text-align: center;
  transition: all 0.2s ease-in-out;
}
.contenu-6 input:hover {
  border-color: $first-color;
}

.contenus h3,
.contenus p,
.contenus span {
  padding: 5px;
}
.contenus span {
  color: $first-color;
  font-size: 14px;
}

.contenus hr {
  width: 30%;
  height: 2px;
  margin-left: 20px;
  margin-top: 20px;
  background: $first-color;
  border: none;
}

/* anim */
.active-onglets {
  background: $first-color;
  color: #f1f1f1;
  transition: all 0.4s ease;
  // border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.active-contenu {
  animation: fade 0.5s forwards;
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.contenus-monthly {
  padding: 10px;
  margin: 10px;
}

.contenus-monthly p strong {
  color: $first-color;
}

.txt-don-choice {
  text-align: center;
  margin: 70px auto;
  font-size: 25px;
  color: $first-color;
}
.cartes {
  display: grid;
  grid-template-columns: repeat(3, 0.5fr);
  grid-column-gap: 0.3rem;
}
.carte {
  cursor: pointer;
  width: 330px;
  height: 290px;
  margin: 0 auto;
}
.recto,
.verso {
  width: 330px;
  height: 290px;
  backface-visibility: hidden;
  position: absolute;
  transition: transform 0.6s linear;
}
.recto span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $first-color;
  background: rgba(241, 241, 241, 0.808);
  padding: 15px 15px;
  font-size: 20px;
  font-weight: bolder;
}
.recto img {
  width: 330px;
  height: 290px;
  border-radius: 5px;
}
.recto {
  transform: perspective(1600px) rotateY(0deg);
}
.verso {
  background: $first-color;
  transform: perspective(1600px) rotateY(180deg);
}
.verso p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #f1f1f1;
  padding: 10px 20px;
  margin: 0 auto;
  width: 75%;
  border-radius: 2px;
}
.contenu {
  color: #2c3e50;
  text-align: center;
  width: 100%;
}
.contenu a {
  color: #333;
  font-size: 22px;
}
.carte:hover .recto {
  transform: perspective(1700px) rotateY(-180deg);
}
.carte:hover .verso {
  transform: perspective(1700px) rotateY(0deg);
}
.link-hello-asso {
  text-align: center;
  margin: 150px;
  transition: all 0.3s ease-in-out;
}
.link-hello-asso a {
  color: #f1f1f1;
  transition: all 0.3s ease-in-out;
  position: relative;
  z-index: 1000;
}
.link-hello-asso a:hover {
  transform: scale(1.09);
}
.btn-focus-anim {
  border: 1px solid $first-color;
  background: #f1f1f1;
  color: #333;
  font-size: 30px;
  font-weight: 700;
  padding: 30px 45px;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
  box-shadow: 3px 5px 14px -1px rgba(94, 94, 94, 0.75);
  transition: all 0.3s ease-in-out;
  color: #f1f1f1;
}

.btn-focus-anim::before,
.btn-focus-anim::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-in-out;
}
.btn-focus-anim::before {
  border: 2px solid $first-color;
  border-radius: 4px;
}
.btn-focus-anim::after {
  background: $first-color;
  z-index: -1;
  border-radius: 3px;
  // border: 8px solid #f1f1f1;
}
.btn-focus-anim:hover::before {
  transform: scaleY(1.2) scaleX(1.05);
}
.btn-focus-anim:hover::after {
  transform: scaleY(0.8) scaleX(0.95);
}

//---------------------Responsive style------------------------//
@media screen and (max-width: 1024px) {
  .title-don-slogan {
    font-size: 25px;
    margin-bottom: 30px;
  }
  .title-don-slogan span:hover::after {
    width: 55%;
  }
  .cartes {
    grid-template-columns: 1fr;
  }
  .carte {
    cursor: pointer;
    width: 530px;
    height: 390px;

    margin: 20px auto;
  }
  .recto,
  .verso {
    width: 530px;
    height: 390px;
  }

  .recto img {
    width: 530px;
    height: 390px;
  }
  .link-hello-asso {
    margin: 100px;
  }
  .link-hello-asso a {
    padding: 25px 120px;
  }
}
@media screen and (max-width: 900px) {
  .title-don-slogan span:hover::after {
    width: 60%;
  }
  .title-don-principal {
    font-size: 30px;
  }
  .title-don {
    margin: 30px auto 30px;
    width: 85%;
  }
  .txt-don {
    line-height: 1.6;
  }
  .questions__title {
    text-align: center;
  }
  .link-hello-asso {
    margin: 70px;
  }
}

@media screen and (max-width: 700px) {
  .title-don-slogan span:hover::after {
    width: 70%;
  }
  .txt-don-choice {
    font-size: 21px;
  }
  .questions__title {
    padding: 1rem 0 0 0rem;
    font-size: 23px;
  }
  .btn-fermer-slider {
    width: 45px;
    height: 45px;
    font-size: 19px;
  }
  .btn-left,
  .btn-right {
    width: 40px;
    height: 40px;
  }
  .btn-left img,
  .btn-right img {
    width: 20px;
    height: 20px;
  }
  .img-visible-slider {
    width: 95%;
    height: 500px;
  }
  .link-hello-asso {
    margin: 60px;
  }
  .link-hello-asso a {
    padding: 30px 15px;
  }
}
@media screen and (max-width: 575px) {
  .title-don-slogan {
    font-size: 20px;
  }

  .title-don-principal {
    font-size: 25px;
  }
  .txt-don {
    width: 90%;
  }
  .txt-don-choice {
    margin: 50px auto;
  }
  .carte {
    cursor: pointer;
    width: 480px;
    height: 400px;
    margin: 45px auto;
  }
  .recto,
  .verso {
    width: 480px;
    height: 400px;
  }

  .recto img {
    width: 480px;
    height: 400px;
  }
  .link-hello-asso {
    width: 80%;
    margin: 100px auto;
  }
}
@media screen and (max-width: 500px) {
  .title-don-slogan span:hover::after {
    width: 85%;
  }
  .questions__title {
    padding: 2rem 0.5rem 0 0.5rem;
    font-size: 22px;
  }
  .carte {
    cursor: pointer;
    width: 380px;
    height: 320px;
    margin: 25px auto;
  }
  .recto,
  .verso {
    width: 380px;
    height: 320px;
  }

  .recto img {
    width: 380px;
    height: 320px;
  }
}
@media screen and (max-width: 450px) {
  .container-don {
    margin-top: 120px;
  }
  .title-don-slogan {
    padding: 0.5rem;
    font-size: 17px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .title-don-slogan span:hover::after {
    width: 80%;
  }
  .title-don {
    width: 95%;
  }
  .questions__group {
    width: 85%;
  }
  .txt-don {
    width: 95%;
  }

  .link-hello-asso a {
    padding: 25px 10px;
  }
  .carte {
    cursor: pointer;
    width: 320px;
    height: 280px;
    margin: 25px auto;
  }
  .recto,
  .verso {
    width: 320px;
    height: 280px;
  }

  .recto img {
    width: 320px;
    height: 280px;
  }
}
@media screen and (max-width: 400px) {
  .container-don {
    margin-top: 100px;
  }
  .title-don-slogan span:hover::after {
    width: 85%;
  }
  .grid-item {
    margin: 31px 45px;
  }
  .txt-don-choice {
    margin: 30px auto;
  }
  .questions__title {
    font-size: 19px;
  }
  .carte {
    cursor: pointer;
    width: 300px;
    height: 255px;
    margin: 35px auto;
  }
  .recto,
  .verso {
    width: 300px;
    height: 255px;
  }

  .recto img {
    width: 300px;
    height: 255px;
  }
  .recto span {
    padding: 15px 7px;
    font-size: 19px;
  }
  .link-hello-asso {
    width: 90%;
    margin: 50px auto;
  }
}
@media screen and (max-width: 350px) {
  .title-don-slogan span:hover::after {
    width: 0;
  }
}
