/*===== HEADER =====*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height;
  padding: 0 1rem;
  background-image: repeating-linear-gradient(
      45deg,
      rgb(255, 255, 255) 0px,
      rgb(255, 255, 255) 10px,
      transparent 10px,
      transparent 11px
    ),
    repeating-linear-gradient(
      135deg,
      rgb(255, 255, 255) 0px,
      rgb(255, 255, 255) 10px,
      transparent 10px,
      transparent 11px
    ),
    linear-gradient(90deg, rgb(221, 221, 221), rgb(221, 221, 221));
  z-index: $z-fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header__logo {
  color: $dark-color;
}
.header__logo img {
  position: absolute;
  width: 100px;
  height: 80px;
  top: 2px;
}

.header__toggle {
  font-size: 1.7rem;
  cursor: pointer;
  color: black !important;
  z-index: 1000;
}
.nav__name {
  display: none;
}
@media screen and (max-width: 1100px) {
  .nav {
    position: fixed;
    top: 0;
    left: -100%;
    background-color: $first-color;
    height: 130vh;
    width: 300px;
  }
  .nav__name {
    display: block;
    font-size: $nav-name-font-size;
    color: $white-color;
  }
}

.nav__content {
  display: flex;
  flex-direction: column;
}

.nav__perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 3rem;
}

.nav__img {
  display: flex;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 1rem;
  background: #f1f1f1;
}

.nav__img img {
  position: relative;
  transform: translate(1%, 23%);
  width: 70px;
  height: 70px;
}

.nav__item {
  margin-bottom: 2rem;
  margin-left: 1rem;
}

.nav__link {
  color: $first-color-light;
}

.nav__link:hover {
  color: $white-color;
}
.link-bigger {
  font-size: 21px;
}

/*Show menu*/
.show {
  left: 0;
}

/*Active link*/
.active {
  color: $white-color;
}

/*=== Dropdown ===*/
.dropdown__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown__icon {
  font-size: 1.3rem;
  transition: 0.5s;
}

.dropdown__menu {
  margin: 1rem 0 0 1rem;
  display: none;
}

.dropdown__item {
  margin: 1rem 0;
}

.dropdown:hover > .dropdown__menu {
  display: block;
}

.dropdown:hover .dropdown__icon {
  transform: rotate(180deg);
}

/*===== NAV =====*/

@media screen and (min-width: 576px) {
  .nav {
    width: 350px;
  }
}

@media screen and (min-width: 1100px) {
  .header {
    height: calc(6rem + 1rem);
  }
  .header__logo,
  .header__toggle {
    display: none;
  }
  .nav {
    width: 100%;
  }
  .nav__content {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .nav__perfil {
    flex-direction: row;
    text-align: initial;
    margin-bottom: 0;
  }
  .nav__img {
    width: 100px;
    height: 100px;
    margin-right: 1.5rem;
    margin-bottom: 0;
  }
  .nav__list {
    display: flex;
    align-items: center;
  }
  .nav__item {
    margin: 0 1.5rem;
    padding: 1.4rem 0;
  }
  .nav__link {
    color: $dark-color;
  }
  .nav__link:hover {
    color: $first-color;
  }
  /*Active link new color*/
  .active {
    color: $first-color;
  }
  .dropdown {
    position: relative;
  }
  .dropdown__menu {
    position: fixed;
    margin: 0;
    top: 5.5rem;
    padding: 0.5rem 1.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    background: #e7e7e7;
  }
  .dropdown__item {
    margin: 0.5rem 0;
  }
}
