/*===== BASE =====*/
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: $header-height 0 0 0;
  font-family: $body-font;
  font-weight: 600;
  background-color: #fcfcfc;
  max-width: 1440px;
  min-width: 300px;
  margin: 0 auto;
}
/* --------------------Main-------------------- */
.slider {
  width: 100%;
  height: 420px;
  margin: 130px auto 0;
  position: relative;
}

.cont-slides {
  width: 100%;
  height: 100%;
}

.cont-slides img {
  width: 100%;
  height: 420px;
  position: absolute;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  object-fit: cover;
}
.commandes {
  visibility: hidden;
}

.cercles {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 160px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cercle {
  width: 15px;
  height: 15%;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
  outline: none;
  border: 0;
}

.active-cercle {
  background: $first-color;
}
.active {
  opacity: 1 !important;
}

/* --------------------Bénévolat-------------------- */
.items-benevolats {
  @include actions-backgrounds;
}
.title-actions {
  font-size: 40px;
  text-align: center;
  font-family: $titles-font;
  margin: 12px;
}
.title-benevolat {
  font-size: 25px;
  font-family: $titles-font;
  color: $first-color;
  text-align: center;
}
.txt-benevolat {
  @include actions-txt;
  font-weight: 500;
}
.link-benevolat {
  text-align: center;
  line-height: 1.7;
}
.mail-benevolat {
  text-decoration: none;
  color: $first-color;
  transition: all 0.3s ease-in-out;
  font-size: 18px;
}
.mail-benevolat:hover {
  color: #000;
  font-weight: bolder;
  font-size: 20px;
  transform: scale(0.95);
}

.links-docs {
  display: flex;
  justify-content: center;
  align-items: center;

  .link-doc {
    margin: 25px;
    background: $first-color;
    padding: 15px 25px;
    color: #f1f1f1;
    transition: all 0.3s ease-in-out;
    font-size: 21px;
    border-radius: 5px;
  }
  .link-doc:hover {
    margin: 25px;
    background: $first-color;
    padding: 15px 25px;
    color: black;
    font-weight: bolder;
    transform: scalex(0.95);
  }
}
/* --------------------Sensibilisation-------------------- */
.items-sensibilisation {
  @include actions-backgrounds;
}
.txt-sensibilisation {
  @include actions-txt;
  font-weight: 500;
}
.item-action {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
/* --------------------Section Parallax-------------------- */
.section-parallax {
  width: 100%;
  height: 300px;
  background: url(./assets/img/enfants-jardins.webp) no-repeat right / cover
    fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px dashed $first-color;
  border-bottom: 1px dashed $first-color;
  flex-wrap: wrap;
}
.txt-par {
  font-size: 30px;
  font-weight: bold;
  color: #f1f1f1;
  margin: 0 50px;
  background: rgba(203, 27, 36, 0.719);
  border-radius: 4px;
  border: 0;
  padding: 15px 20px;
  text-align: center;
  transition: all 0.2s ease-in-out;
}
.txt-par:hover {
  background: #f1f1f1;
  color: $first-color;
}

/* --------------------Projet en cours-------------------- */
.items-projets-en-cours {
  @include actions-backgrounds;
}
.projets-cours {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.titre-projet-en-cours {
  font-size: 25px;
  font-family: $titles-font;
  color: $first-color;
  text-align: center;
}
.txt-projet-en-cours {
  width: 90%;
  padding: 10px;
  line-height: 1.8;
  margin: 0 auto;
  font-weight: 500;
}
.txt-projet-secondary {
  width: 70%;
  margin: 0 auto;
  line-height: 1.9;
  text-align: center;
  font-weight: 500;
}
/* --------------------Projet à venir-------------------- */
.items-projets-a-venir {
  @include actions-backgrounds;
}
.txt-projet-a-venir {
  width: 70%;
  padding: 10px;
  line-height: 1.8;
  margin: 0 auto;
  font-weight: 500;
}
.txt-projet-a-venir::first-letter,
.txt-projet-en-cours::first-letter,
.txt-sensibilisation::first-letter,
.txt-benevolat::first-letter,
.txt-projet-secondary::first-letter {
  color: $first-color;
  font-weight: bolder;
}
