@media screen and (max-width: 1300px) {
  .txt-par {
    font-size: 23px;
  }
  .slider-actions {
    height: 90vh;
  }
  .slider-item-actions img {
    height: 90vh;
  }
}

@media screen and (max-width: 1024px) {
  .slider-actions {
    height: 80vh;
  }
  .slider-item-actions img {
    height: 80vh;
  }

  .item-action {
    flex-direction: column;
    padding: 30px;
  }
  .title-actions {
    font-size: 30px;
  }
}
@media screen and (max-width: 915px) {
  .title-slider-emera {
    font-size: 23px;
    width: 80%;
    text-align: center;
    margin: 50px auto;
  }
  .slider-emera {
    height: 400px;
  }
  .cercles {
    top: 90%;
  }
}

@media screen and (max-width: 700px) {
  .slider-actions {
    height: 70vh;
  }
  .slider-item-actions img {
    height: 70vh;
  }

  .item-action {
    margin-top: 50px;
  }
  .items-sensibilisation {
    padding: 0;
  }
  .titre-projet-en-cours {
    font-size: 20px;
  }
  .projets-cours {
    display: grid;
    grid-template-columns: 1fr;
  }

  .txt-benevolat,
  .txt-sensibilisation {
    width: 85%;
  }
  .txt-projet-secondary {
    width: 90%;
    margin: 0 auto;
    line-height: 1.9;
    text-align: left;
  }
  .links-docs {
    flex-direction: column;

    .link-doc {
      font-size: 18px;
      margin: 10px;
    }
    .link-doc1 {
      padding: 15px 80px;
    }
  }
  .txt-sensibilisation {
    width: 85%;
  }

  .section-parallax {
    background: url(./assets/img/enfants-qui-jouent.jpg) no-repeat / fixed;
    background-position: 30%;
    height: 350px;
  }

  .txt-par {
    font-size: 20px;
  }
  .slider-emera {
    width: 600px;
    margin: 30px auto 0;
  }

  .cercles {
    top: 75%;
  }
}
@media screen and (max-width: 600px) {
  .slider-emera {
    width: 490px;
    height: 300px;
  }
  .cont-slides img {
    height: 300px;
  }
  .cercles {
    top: 90%;
  }
}
@media screen and (max-width: 500px) {
  .slider-actions {
    height: 50vh;
  }
  .slider-item-actions img {
    height: 50vh;
  }

  .txt-benevolat,
  .txt-sensibilisation {
    width: 100%;
    line-height: 1.6;
  }
  .section-parallax {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .txt-projet-en-cours,
  .txt-projet-a-venir {
    width: 100%;
    line-height: 1.6;
  }
  .txt-projet-secondary {
    width: 100%;
    text-align: left;
    line-height: 1.6;
  }
  .slider-emera {
    width: 425px;
  }
  .commandes button:nth-child(1) {
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
  }
  .commandes button:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
  }
}
@media screen and (max-width: 450px) {
  .title-benevolat {
    font-size: 21px;
  }
  .section-parallax {
    flex-direction: column;
    height: 425px;
  }
  .title-slider-emera {
    font-size: 20px;
    width: 95%;
    text-align: center;
    margin: 20px auto;
  }
  .slider-emera {
    width: 350px;
    height: 300px;
    margin: 10px auto 0;
  }
  .cont-slides img {
    height: 300px;
  }
  .commandes button {
    position: absolute;
    width: 35px;
    height: 35px;
  }
  .commandes img {
    width: 10px;
    position: relative;
  }
}
@media screen and (max-width: 400px) {
  .title-actions {
    font-size: 20px;
  }
  .txt-benevolat {
    padding: 5px;
  }
  .links-docs {
    .link-doc {
      margin: 10px;
    }
    .link-doc1 {
      padding: 20px 50px;
    }
    .link-doc2 {
      padding: 20px 5px;
    }
  }
}
@media screen and (max-width: 375px) {
  .title-slider-emera {
    font-size: 19px;
  }
  .slider-emera {
    width: 315px;
    height: 265px;
    margin: 5px auto 0;
  }
  .cont-slides img {
    height: 265px;
  }
}
