@media screen and (max-width: 1100px) {
  .items-contact {
    display: grid;
    grid-template-columns: 1fr;
    margin: 3rem 0 0 0rem;
  }
  .img-contact {
    width: 75%;
    height: auto;
    margin: 20px auto;
  }
  .text-contact {
    margin: 0 auto;
  }
  .items-mail a {
    font-size: 22px;
  }
}
@media screen and (max-width: 1024px) {
  .items-newsletter,
  .footer__subscribe {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .titre-principal-contact {
    margin-top: 190px;
    font-family: $titles-font;
  }
  .title-team {
    font-size: 28px;
  }

  .img-contact {
    width: 95%;
  }
  .footer__button {
    padding: 1rem 1rem;
    font-size: 21px;
  }
  .items-mail {
    margin-top: 50px;
  }
  .items-mail a {
    font-size: 20px;
    margin: 15px;
    transition: transform 0.2s ease-in-out;
  }
  .items-mail a:hover {
    transform: scale(0.95);
  }
}
@media screen and (max-width: 600px) {
  .title-newsletter {
    font-size: 22px;
    margin-top: 20px;
  }

  .text-newsletter {
    font-size: 16px;
  }
  .footer__subscribe {
    width: 95%;
    padding: 1.6rem;
  }
}

@media screen and (max-width: 450px) {
  .titre-principal-contact {
    margin-top: 120px;
  }

  .title-contact-principal {
    font-size: 22px;
  }
  .img-contact {
    width: 85%;
  }
  .text-contact h3 {
    margin-top: 25px;
  }
  .items-mail a {
    font-size: 18px;
    margin: 5px;
  }
  .newsletter__content {
    margin: 50px auto;
  }
}
@media screen and (max-width: 420px) {
  .items-contact {
    margin: 2rem 0 0 0rem;
  }
  .footer__subscribe {
    margin: 30px auto -60px;
  }
}
