// Nos centres d'accueil

@mixin titles-centres {
  width: 85%;
  text-align: center;
  font-weight: 700;
  font-size: 21px;
}
@mixin grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

// Nos Actions
@mixin actions-backgrounds {
  margin: 20px;
  padding: 15px;
  background: #ebebeb;
  border: 1px solid #7e7c7c;
  border-radius: 5px;
  border: none;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
}
@mixin actions-txt {
  width: 70%;
  padding: 10px;
  line-height: 1.8;
  margin: 0 auto;
}
