$header-height: 6rem;

/*===== Colors =====*/
$first-color: #cb1b23;
$first-color-light: #c4c7f5;
$dark-color: #0e1026;
$white-color: #fbfbfb;

/*===== Font and typography =====*/
$body-font: "Open Sans", sans-serif;
$nav-name-font-size: 22px;
$normal-font-size: 0.938rem;
$images-ombres: 3px 6px 11px 0px rgba(58, 57, 57, 0.75);

/*===== z index =====*/
$z-fixed: 100;
